<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Заголовок страницы, который можно переопределить в дочерних шаблонах -->
    <title>{% block title %}My Online Store{% endblock %}</title>
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Подключение пользовательских стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Подключение Popper.js для работы с выпадающими элементами Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <!-- Подключение JavaScript Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Подключение пользовательских скриптов -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <!-- Блок контента, который будет заменен в дочерних шаблонах -->
    {% block content %}{% endblock %}
</body>
</html>
